#!/usr/bin/env bash

export PATH="${PWD}/scripts:${PATH}"

export MARIADB_ROOT_PASSWORD="Giraff3Lem0nTree"
export MARIADB_DATABASE="testdb"
export MARIADB_USER="devuser"
export MARIADB_PASSWORD="Tr0ub4d3!K1ng"
export MARIADB_PORT="12201"
export MARIADB_DATABASE_DSN="${MARIADB_USER}:${MARIADB_PASSWORD}@tcp(127.0.0.1:${MARIADB_PORT})/${MARIADB_DATABASE}"

