---
version: '3'

services:

  mariadb:
    image: 'mariadb:12'
    ports:
      - ${MARIADB_PORT}:3306

    environment:
      MYSQL_ROOT_PASSWORD: ${MARIADB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MARIADB_DATABASE}
      MYSQL_USER: ${MARIADB_USER}
      MYSQL_PASSWORD: ${MARIADB_PASSWORD}
