#!/usr/bin/env bash

export PATH="${PWD}/bin:${PATH}"
export PATH="${PATH}:${PWD}/.tools"

export GOPROXY="off"

export POSTGRES_USER="postgres"
export POSTGRES_PASSWORD="pass"
export POSTGRES_DB="dbt"
export POSTGRES_PORT="13000"

export PG_DATABASE_DSN="host=localhost port=${POSTGRES_PORT} user=${POSTGRES_USER} password=${POSTGRES_PASSWORD} dbname=${POSTGRES_DB} sslmode=disable"
export PG_DATABASE_URL="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=disable"

